In [45]:
import numpy as np
import pandas as pd
import seaborn as sns

df = sns.load_dataset("penguins")
df.info()
#get info on dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [46]:
#begin data clean
mode=df["sex"].mode()
df["sex"].fillna(mode, inplace =True)

In [47]:
newdata=df.dropna()

In [48]:
newdata.isnull().sum()
#finished data clean

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [55]:
print(newdata)
df = newdata
#Printed version of the DATAFRAME

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
4    Adelie  Torgersen            36.7           19.3              193.0
5    Adelie  Torgersen            39.3           20.6              190.0
..      ...        ...             ...            ...                ...
338  Gentoo     Biscoe            47.2           13.7              214.0
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    Male
1         3800.0  Female
2         3250.0  Female
4         3450.0  Female
5         3650.0    Male
..           ...     ...
338       4925.0  Female
340       4850.0  Female
341       5750.0    Male
342       5200.0  Female
343       5400.0    Male

[333 rows x 7 columns]



```
Jamar Flowers
INTRO TO DATA SCIENCE

```
# **PENGUIN REPORT BEGINS HERE:**

# **Number of Penguins, By Island:**

In [91]:
# Show Python code in the following code box which lists the number of penguins, broken down by island
print(df.groupby("island")["species"].value_counts())

island     species
Biscoe     Gentoo       119
           Adelie        44
Dream      Chinstrap     68
           Adelie        55
Torgersen  Adelie        47
Name: species, dtype: int64

# **Number of Penguins, By Species and Sex:**

In [65]:
#Show Python code which lists the number of penguins, broken down by species and sex
print(df.groupby("species")["sex"].value_counts())

species    sex
Adelie     Female    73
           Male      73
Chinstrap  Female    34
           Male      34
Gentoo     Male      61
           Female    58
Name: sex, dtype: int64

# **Mean Mass of All Penguins**

In [92]:
# lists the mean mass of all of the penguins. Don't use describe().
print("The Mean of all penguin bodymass:")
print(df.body_mass_g.mean())

The Mean of all penguin bodymass:
4207.057057057057

In [93]:
# Also did Min,Max,Median
print("The Minimum of all penguin bodymass:")
print(df.body_mass_g.min())
print("The Maximum of all penguin bodymass:")
print(df.body_mass_g.max())
print("The Median of all penguin bodymass:")
print(df.body_mass_g.median())

The Minimum of all penguin bodymass:
2700.0
The Maximum of all penguin bodymass:
6300.0
The Median of all penguin bodymass:
4050.0

# **Mean Mass using describe()**

In [59]:
#use .describe()
df.body_mass_g.describe()

count     333.000000
mean     4207.057057
std       805.215802
min      2700.000000
25%      3550.000000
50%      4050.000000
75%      4775.000000
max      6300.000000
Name: body_mass_g, dtype: float64

# **Mean Median Maximum Minium by Species**

In [99]:
#prints minimum, median, mean and maximum broken down by the species:
species_mean = df.groupby(['species']).describe()
print(species_mean.body_mass_g)

           count         mean         std     min     25%     50%     75%  \
species
Adelie     146.0  3706.164384  458.620135  2850.0  3362.5  3700.0  4000.0
Chinstrap   68.0  3733.088235  384.335081  2700.0  3487.5  3700.0  3950.0
Gentoo     119.0  5092.436975  501.476154  3950.0  4700.0  5050.0  5500.0

              max
species
Adelie     4775.0
Chinstrap  4800.0
Gentoo     6300.0

In [98]:
#median of all penguin species
print("Median for all of the penguin species:")
print(df.groupby(['species']).body_mass_g.median())

Median for all of the penguin species:
species
Adelie       3700.0
Chinstrap    3700.0
Gentoo       5050.0
Name: body_mass_g, dtype: float64

# **List Sorted By Minimum Weight In Ascending Order**

In [88]:
#Repeat the above, but sort the list by the minimum weight in ascending order.
species_mean_asc = species_mean.body_mass_g.sort_values("min")
print(species_mean_asc)

           count         mean         std     min     25%     50%     75%  \
species
Chinstrap   68.0  3733.088235  384.335081  2700.0  3487.5  3700.0  3950.0
Adelie     146.0  3706.164384  458.620135  2850.0  3362.5  3700.0  4000.0
Gentoo     119.0  5092.436975  501.476154  3950.0  4700.0  5050.0  5500.0

              max
species
Chinstrap  4800.0
Adelie     4775.0
Gentoo     6300.0

# **Ascending Order BodyMass**

In [60]:
apenguin_mass = df.sort_values("body_mass_g")
print("Ascending Order:")
print(apenguin_mass.body_mass_g)
print(" --------------------------------------------------------------------------")

Ascending Order:
190    2700.0
64     2850.0
58     2850.0
116    2900.0
98     2900.0
        ...
299    5950.0
337    6000.0
297    6000.0
253    6050.0
237    6300.0
Name: body_mass_g, Length: 333, dtype: float64
 --------------------------------------------------------------------------

# **Ascending Order BodyMass (FULLCHART)**

In [61]:
print(apenguin_mass)

       species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
190  Chinstrap      Dream            46.9           16.6              192.0
64      Adelie     Biscoe            36.4           17.1              184.0
58      Adelie     Biscoe            36.5           16.6              181.0
116     Adelie  Torgersen            38.6           17.0              188.0
98      Adelie      Dream            33.1           16.1              178.0
..         ...        ...             ...            ...                ...
299     Gentoo     Biscoe            45.2           16.4              223.0
337     Gentoo     Biscoe            48.8           16.2              222.0
297     Gentoo     Biscoe            51.1           16.3              220.0
253     Gentoo     Biscoe            59.6           17.0              230.0
237     Gentoo     Biscoe            49.2           15.2              221.0

     body_mass_g     sex
190       2700.0  Female
64        2850.0  Female
58        2850.0  Female
116       2900.0  Female
98        2900.0  Female
..           ...     ...
299       5950.0    Male
337       6000.0    Male
297       6000.0    Male
253       6050.0    Male
237       6300.0    Male

[333 rows x 7 columns]

# **Decending Order BodyMass**

In [62]:
dpenguin_mass = df.sort_values(by="body_mass_g",ascending=False)
print("Descending Order Bodymass:")
print(dpenguin_mass.body_mass_g)
print(" --------------------------------------------------------------------------")

Descending Order Bodymass:
237    6300.0
253    6050.0
297    6000.0
337    6000.0
299    5950.0
        ...
98     2900.0
54     2900.0
58     2850.0
64     2850.0
190    2700.0
Name: body_mass_g, Length: 333, dtype: float64
 --------------------------------------------------------------------------

# **Descending BodyMass (FULLCHART)**

In [63]:
print(dpenguin_mass)

       species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
237     Gentoo  Biscoe            49.2           15.2              221.0
253     Gentoo  Biscoe            59.6           17.0              230.0
297     Gentoo  Biscoe            51.1           16.3              220.0
337     Gentoo  Biscoe            48.8           16.2              222.0
299     Gentoo  Biscoe            45.2           16.4              223.0
..         ...     ...             ...            ...                ...
98      Adelie   Dream            33.1           16.1              178.0
54      Adelie  Biscoe            34.5           18.1              187.0
58      Adelie  Biscoe            36.5           16.6              181.0
64      Adelie  Biscoe            36.4           17.1              184.0
190  Chinstrap   Dream            46.9           16.6              192.0

     body_mass_g     sex
237       6300.0    Male
253       6050.0    Male
297       6000.0    Male
337       6000.0    Male
299       5950.0    Male
..           ...     ...
98        2900.0  Female
54        2900.0  Female
58        2850.0  Female
64        2850.0  Female
190       2700.0  Female

[333 rows x 7 columns]